.museums-card {
  display: flex;
  border-radius: 12px;
  width: 30vw;
  height: 10vh;
  margin: 7%;
  align-items: center;
  justify-content: space-between;
  background-color: #00676b;
  box-shadow: 6px 3px 3px grey;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.museum-image {
  height: 7vh;
  margin-right: 5%;
  border: 4px solid white;
  border-radius: 10px;
}

.museum-name-card {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: white;
}

h4 {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: white;
}

@media only screen and (min-width:50px) and (max-width:574px) {
  .museums-card {
    width: 80vw;
    margin-left: -1%;
  }
}