.museums-card {
  display: flex;
  width: 30vw;
  height: 20vh;
  margin: 7%;
  align-items: center;
  justify-content: space-between;
  background-color: #03989ead;
  box-shadow: 6px 3px 3px grey;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}

.museum-image {
  margin-right: 3%;
}

.museum-name-card {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}

h4 {
  margin-bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}