* {
  clear: both;
  padding: 0;
  margin: 0;
}

input {
  font-size: 12px;
  margin: 1vh;
}

input:focus {
  box-shadow:0 0 3px 3px #03989e;
  -moz-box-shadow:0 0 3px 3px #03989e;
  -webkit-box-shadow:0 0 3px 3px #03989e;
}

.page--container {
  background-image:
      linear-gradient(to bottom, #ffffffdb, #ffffffdb),
      url('../../images/city.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 70vh;
  width: 100vw;
}

.column {
  align-items: center;
  flex-direction: column;
}

.row {
  justify-content: space-around;
}

.primary--button {
  background-color: #00676b;
  border: 2px solid #00676b;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 92%;
  font-weight: 600;
  margin-left: -.5%;
  margin-top: -3%;
  text-align: center;
  transition: all 300ms;
}

.primary--button:hover {
  background-color: white;
  color: #00676b;
  cursor: pointer;
}

.primary--button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px)
}

.warning-message {
  color: red;
}