* {
  margin: 0;
  padding: 0;
  clear: both;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.page--container {
  height: 58vh;
  width: 100vw;
  display: flex;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image:
      linear-gradient(to bottom, #ffffffdb, #ffffffdb),
      url('../../images/city.png');
}

.column {
  flex-direction: column;
  align-items: center;
}

.row {
  justify-content: space-around;
}

.primary--button {
  background-color: #03989e;
  border: 2px solid #03989e;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 92%;
  font-weight: 600;
  text-align: center;
  transition: all 300ms;
}

.primary--button:hover {
  cursor: pointer;
  background-color: white;
  color: #03989e;
}

.primary--button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px)
}

input {
  margin: 5px;
  width: 15%;
  font-size: 12px;
  height: 18%;
}

input:focus {
  -moz-box-shadow:0 0 3px 3px #03989e;
  -webkit-box-shadow:0 0 3px 3px #03989e;
  box-shadow:0 0 3px 3px #03989e;
}
