.sign-out--button {
  background-color: white;
  border: 3px solid #ffffff;
  color: #00676b;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 92%;
  font-weight: 600;
  margin: 10px;
  max-height: 45px;
  text-align: center;
  transition: all 300ms;
}

.sign-out--button:hover {
  cursor: pointer;
  background-color: #00676b;
  border: 2px solid white;
  color: white;
}

.sign-out--button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px)
}