form {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.zip {
    width: 10%;
}

.search--button {
    width: 8vw;
    height: 4vh;
    margin-left: 5%;
}

