.search-form {
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-housing {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-museums {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color:#00676b;
    margin-bottom: 1%;
}

.search--button {
    background-color: #00676b;
    border: 2px solid #00676b;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    margin-left: -.5%;
    margin-top: -3%;
    text-align: center;
    transition: all 300ms;
    margin-top: 0;
}

