.saved-trip-card {
  border: 2px solid hsl(0deg 0% 0%);
  height: 25vh;
  margin-bottom: 2%;
  width: 26vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  box-shadow: 6px 3px 3px grey;
}

.trip-name {
  margin-top: 2%;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #00676b;
  font-size: 110%;
  margin-bottom: 2%;
}

.saved-destination {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 100%;
  margin-bottom: 2%;
}

.saved-trip-info {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin-bottom: 2%;
}

.attendance {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 100%;
  margin-bottom: 5%;
}

.delete--button {
  margin-bottom: 2%;
  background-color: #00676b;
  border: 2px solid #00676b;
  color: hsl(0deg 0% 100%);
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 92%;
  font-weight: 600;
  text-align: center;
  transition: all 300ms;
  margin-top: -3.5%;
  width: 9vw;
  height: 4vh;
}

@media only screen and (min-width:320px) and (max-width:767px) {
  .saved-trip-card {
    width: 80vw;
  }

  .delete--button {
    width: 25vw;
    height: 6vh;
  }
}