.header {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 0;
}

.logo {
    margin-top: -4%;
    height: 35vh;
    width: auto;
}