.header {
    align-items: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 20vh;
    width: 100vw;
    z-index: 0;
}

.logo {
    height: 35vh;
    margin-top: -4vh;
    width: auto;
}