.booking-page {
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: column;
  align-items: center;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
}

.booking-options {
  height: 3vh;
  width: 20vw;
}

.date-picker-styling {
  display: flex;
  width: 19.5vw;
}

.react-datepicker__input-container input {
  display: block;
  width: 100%;
  height: 3vh;
}