.booking-page {
  display: flex;
  width: 100vw;
  height: 60vh;
  flex-direction: column;
  align-items: center;
}

.book-trip {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: #03989e;
  font-size: 130%;
  margin-bottom: 2%;
}

.name-your-trip {
  height: 10%;
}

.booking-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35vh;
}

.booking-options {
  height: 3vh;
  width: 20vw;
}

.booking-button {
  background-color: #03989e;
  border: 2px solid #03989e;
  color: white;
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  font-size: 92%;
  font-weight: 600;
  text-align: center;
  transition: all 300ms;
  width: 15vw;
  height: 4vh;
}

.booking-button:hover {
  cursor: pointer;
  background-color: white;
  color: #03989e;
}

.booking-button:active {
  box-shadow: 0 2px #666;
  transform: translateY(4px)
}

.date-picker-styling {
  display: flex;
}

.react-datepicker__input-container input {
  width: 20vw;
  height: 3vh;
}