.trip-type {
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffffdb, #ffffffdb), url('../../images/city.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    color: #00676b;
    display: flex;
    flex-direction: column;
    height: 70vh;
    width: 100vw;
}

.choose-trip {
    font-family: 'Roboto', sans-serif;
    font-size: 130%;
    font-weight: 600;
    margin-bottom: 3%;
    margin-top: 10%;
}

.trip-host, .trip-join, .trip-saved {
    background-color: #00676b;
    border: 2px solid #00676b;
    color: hsl(0deg 0% 100%);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    margin-bottom: 2%;
    text-align: center;
    transition: all 300ms;
}

.trip-host:hover, .trip-join:hover, .trip-saved:hover {
    background-color: white;
    border: 2px solid #00676b;
    color: #00676b;
    cursor: pointer;
  }
  
  .primary--button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
  }