.location-box {
  width: 2vw;
}

.location-pin {
 filter: invert(36%) sepia(94%) saturate(976%) hue-rotate(149deg) brightness(95%) contrast(103%);
 height: 5vh;
}

.map-location-name {
  color: #00989e;
  font-size: 1.5vh;
}