.footer {
    width: 100%;
    height: 10%;
    background-color: hsl(182deg 96% 32%);
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

