.footer {
    width: 100vw;
    height: 10%;
    background-color: #03989e;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    left: 0;
    right: 0;
}

.footer-about,
.home, .footer-saved-trips, .footer-join-a-trip, .footer-host-a-trip {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 90%;
    color: white;
}