.museum-container {
    width: 100vw;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:
        linear-gradient(to bottom, #ffffffdb, #ffffffdb),
        url('../../images/city.png');
    justify-content: space-around;
    overflow: scroll;
}

.book-trip-button {
    background-color: #00676b;
    border: 2px solid #00676b;
    color: hsl(0deg 0% 100%);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    text-align: center;
    transition: all 300ms;
}

.go-book-trip:hover {
    cursor: pointer;
    background-color: white;
    color: #00676b;
    border: 2px solid #00676b;
}

.go-book-trip:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
}

.back-button {
    margin-bottom: 2%;
    margin-top: 10%;
    background-color: #00676b;
    border: 2px solid #00676b;
    color: hsl(0deg 0% 100%);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    text-align: center;
    transition: all 300ms;
    width: 18vw;
    height: 5vh;
}

.back-button:hover {
    cursor: pointer;
    background-color: white;
    color: #00676b;
    border: 2px solid #00676b;
}

.back-button:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px)
}