.museum-container {
    height: 70vh;
    width: 100vw;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-image:
        linear-gradient(to bottom, #ffffffdb, #ffffffdb),
        url('../../images/city.png');
    justify-content: space-around;
    overflow: scroll;
}

.go-book-trip {
    margin-bottom: 2%;
    margin-top: 5%;
    background-color: hsl(182deg 96% 32%);
    border: 2px solid hsl(182deg 96% 32%);
    color: hsl(0deg 0% 100%);
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 92%;
    font-weight: 600;
    text-align: center;
    transition: all 300ms;
    width: 18vw;
    height: 5vh;
}

@media only screen and (min-width:50px) and (max-width:574px) {
    .museum-container {
      flex-direction: column;
      align-items: center;
      height: 350vh;
    }
  }